<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tailwind.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="flex shadow-md items-center justify-between lg:hidden w-full px-4 bg-slate-900 border-b border-slate-700">
        <a class="block w-max" href="/">
            <h1 class="p-2 py-4 text-lg text-slate-50">Study.<span class="text-slate-400">Material</span></h1>
        </a>
        <div class="w-[30px] h-[25px] bg-slate-900 flex flex-col items-center justify-between z-20" id="burger">
            <div class="w-full bg-slate-700 rounded-full h-[4px] pointer-events-none"></div>
            <div class="w-full bg-slate-700 rounded-full h-[4px]  pointer-events-none"></div>
            <div class="w-full bg-slate-700 rounded-full h-[4px] pointer-events-none"></div>
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-5 h-[90vh] lg:h-screen overflow-hidden">
        <div class="p-2 fixed transition z-10 top-0 left-[-100%] lg:static w-full bg-slate-900 h-screen lg:w-auto"
            id="nav">
            <a class="border-b block border-slate-700" href="/">
                <h1 class="p-2 py-4 text-lg text-slate-50">Study.<span class="text-slate-400">Material</span></h1>
            </a>
            <ul class="w-full pt-4 bg-slate-900 space-y-2">
                <li class="w-full">
                    <a href="/" class="block p-4 border-b border-slate-700 hover:bg-slate-800 text-slate-50 transition rounded bg-slate-900">
                        <span class="text-xl">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="ml-2">
                            Home
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/notes" class="block p-4 border-b border-slate-700  text-slate-50 hover:bg-slate-800 transition rounded bg-slate-900">
                        <span class="text-xl">
                            <ion-icon name="documents-outline"></ion-icon>
                        </span>
                        <span class="ml-2">
                            Notes
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/sample-paper" class="block p-4 border-b border-slate-700 hover:bg-slate-800 transition rounded bg-slate-900 text-slate-50">
                        <span class="text-xl">
                            <ion-icon name="newspaper-outline"></ion-icon>
                        </span>
                        <span class="ml-2">
                            Sample Paper
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-span-4 bg-slate-800 overflow-hidden flex flex-col items-start justify-start">
            <div class="w-full h-screen flex flex-col p-2 space-y-3 bg-slate-800 overflow-y-scroll snap-y snap-mandatory">
                <% for( let i=0; i < data.length; i++ ) { %>
                    <div class="w-full relative flex flex-col bg-slate-900 rounded snap-start">
                        <h2 class="text-lg p-4 border-b border-slate-700 text-gray-100 font-bold">
                            <%= data[i].title %>
                        </h2>
                        <p class="mt-2 p-3 text-slate-50" style="flex: 2;">
                            <%= data[i].content %>
                        </p>
                        <div class="p-3 border-t border-slate-700">
                            <a href="<%= data[i].link %>" target="_blank"
                                class="inline-block p-2 px-4 rounded bg-slate-900  text-slate-50 border hover:bg-slate-800 a border-slate-600">Download Pdf</a>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/scripts.js"></script>
</body>

</html>